<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudedBats - Ultrasonic recorder for bats</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Bulma -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bulma-0.8-min.css') }}">
    <!-- CloudedBats -->
    <link href="{{ url_for('static', path='css/wurb_styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='js/wurb_javascript.js/?v=1') }}"></script>
</head>

<body>
    <section class="section has-background-grey-dark">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">

                            <!-- Tile: Ultrasonic recorder -->
                            <article class="tile is-child box has-background-grey-lighter">
                                <p class="title">Ultrasonic recorder</p>
                                <p class="subtitle">Recording unit for bats.</p>
                                <div class="buttons is-centered">
                                    <button id="rec_start_button_id" class="button is-info is-rounded is-medium"
                                        onclick="startRecording()">
                                        <!-- Start recording -->
                                        Start rec.
                                    </button>
                                    <button id="rec_stop_button_id" class="button is-info is-rounded is-medium"
                                        onclick="stopRecording()">
                                        <!-- Stop recording -->
                                        Stop rec.
                                    </button>
                                </div>
                                <div class="content">
                                    <p class="subtitle">
                                        Status: <strong>
                                            <span id="rec_status_id">Waiting...</span>
                                        </strong>
                                        <br>
                                        <!-- Microphone: -->
                                        <span id="rec_info_id"></span>
                                        <br>
                                        Detector time:
                                        <span id="rec_detector_time_id"></span>
                                    </p>
                                </div>

                                <!-- <div class="content" style="height: 10em; overflow: auto;"> -->
                                <div class="table-container" style="height: 10em; overflow: auto;">
                                    <table id="rec_log_table_id"
                                        class="table is-fullwidth is-bordered is-striped has-background-white-ter">
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </article>

                            <!-- Tile: Geographic location -->
                            <article class="tile is-child box has-background-grey-lighter">
                                <!-- Content. -->
                                <p class="title">Geographic location</p>
                                <p class="subtitle">Used in file names, and for scheduler.</p>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Source</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select">
                                                    <select id="geo_source_option_id"
                                                        onchange="geoLocationSourceOnChange()">
                                                        <option value="geo-not-used">Not used</option>
                                                        <option value="geo-manual">Manually entered location</option>
                                                        <option value="geo-client-gps">Location from mobile unit
                                                        </option>
                                                        <option value="geo-usb-gps">Use USB-GPS on recording unit
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Latitude&nbsp;&nbsp&nbsp;</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input id="latitude_dd_id" class="input" type="number" step="0.0001"
                                                    min="-90.0" max="90.0" placeholder="15.6789">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Longitude</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input id="longitude_dd_id" class="input" type="number" step="0.0001"
                                                    min="-180.0" max="180.0" placeholder="12.3456">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons is-centered">
                                    <button id="geo_set_pos_button_id" class="button is-info is-rounded"
                                        onclick="saveLocation()">
                                        Set location
                                    </button>
                                    <button id="geo_set_time_button_id" class="button is-info is-rounded"
                                        onclick="setDetectorTime()">
                                        Set time
                                    </button>
                                    <!-- <button id="rec_stop_button_id" class="button is-info is-rounded is-medium"
                                        onclick="callRecordingUnit('/stop_rec')">
                                        Stop recording
                                    </button> -->
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">

                            <!-- Tile: Settings -->
                            <article class="tile is-child box has-background-grey-lighter">
                                <!-- Content. -->
                                <p class="title">Settings</p>
                                <p class="subtitle">Settings for the recording unit.</p>
                                <div class="tabs is-fullwidth is-medium">
                                    <ul>
                                        <li id="tab_settings_basic_id" class="is-active"
                                            onclick="hideShowSettingsTabs('basic');">
                                            <a>
                                                <span><strong>Basic</strong></span>
                                            </a>
                                        </li>
                                        <li id="tab_settings_more_id" class="" onclick="hideShowSettingsTabs('more');">
                                            <a>
                                                <span><strong>More</strong></span>
                                            </a>
                                        </li>
                                        <li id="tab_settings_scheduler_id" class=""
                                            onclick="hideShowSettingsTabs('scheduler');">
                                            <a>
                                                <span><strong>Scheduler</strong></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Settings: Basic. -->
                                <div id="div_settings_basic_id">
                                    <!-- style="visibility:hidden; overflow:hidden; height:0; width:0;" class=""> -->
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Rec.&nbsp;mode</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field is-narrow">
                                                <div class="control">
                                                    <div class="select">
                                                        <select id="settings_rec_mode_id">
                                                            <option value="rec-mode-manual">Manually controlled</option>
                                                            <option value="rec-mode-on">Rec. always on</option>
                                                            <option value="rec-mode-scheduler">Based on scheduler
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Directory&nbsp;for&nbsp;sound&nbsp;files</label>
                                        <div class="control">
                                            <input id="settings_file_directory_id" class="input"
                                                placeholder="recorded_files" value="recorded_files">
                                        </div>
                                        <p class="help is-info">
                                            On USB memory if available, otherwise internally.
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label class="label">File&nbsp;name&nbsp;prefix</label>
                                        <div class="control">
                                            <input id="settings_filename_prefix_id" class="input" placeholder="wurb"
                                                value="wurb">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label
                                            class="label">Sound&nbsp;detection:&nbsp;Low&nbsp;limit&nbsp;(kHz)</label>
                                        <div class="control">
                                            <input id="settings_detection_limit_id" class="input" type="number"
                                                placeholder="15.0" value="15.0">
                                        </div>
                                        <p class="help is-info">
                                            Sound above this frequency limit are checked.
                                        </p>
                                    </div>
                                    <div class="field">
                                        <label class="label">Sound&nbsp;detection:&nbsp;Sensitivity&nbsp;(dBFS)</label>
                                        <div class="control">
                                            <input id="settings_detection_sensitivity_id" class="input" type="number"
                                                placeholder="-50" value="-50">
                                        </div>
                                        <p class="help is-info">
                                            The value -60 gives more files and -40 less.
                                        </p>
                                    </div>
                                </div>

                                <!-- Settings: more. -->
                                <div id="div_settings_more_id"
                                    style="visibility:hidden; overflow:hidden; height:0; width:0;" class="">
                                    <div class="field">
                                        <label class="label">Sound&nbsp;detection&nbsp;algorithm</label>
                                        <div class="control">
                                            <div class="select">
                                                <select id="settings_detection_algorithm_id">
                                                    <option value="detection-none">None (everything is recorded)
                                                    </option>
                                                    <option value="detection-simple">Simple (single trigging event)
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">RaspberryPi control</label>
                                        <div class="control">
                                            <button class="button is-info is-rounded is-small"
                                                onclick="raspberryPiControl('rpi_shutdown')">
                                                Shutdown
                                            </button>
                                            <button class="button is-info is-rounded is-small"
                                                onclick="raspberryPiControl('rpi_reboot')">
                                                Reboot
                                            </button>
                                            <button class="button is-info is-rounded is-small"
                                                onclick="raspberryPiControl('rpi_update_sw')">
                                                Software update
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Settings: Scheduler. -->
                                <div id="div_settings_scheduler_id"
                                    style="visibility:hidden; overflow:hidden; height:0; width:0;" class="">
                                    <div class="field">
                                        <label class="label">Start&nbsp;recording&nbsp;at</label>
                                        <div class="control">
                                            <div class="select">
                                                <select id="settings_scheduler_start_event_id">
                                                    <option value="on-sunset">Sunset</option>
                                                    <option value="on-dusk">Dusk</option>
                                                    <option value="on-dawn">Dawn</option>
                                                    <option value="on-sunrise">Sunrise</option>
                                                    <option value="on-00">00:00</option>
                                                    <option value="on-01">01:00</option>
                                                    <option value="on-02">02:00</option>
                                                    <option value="on-03">03:00</option>
                                                    <option value="on-04">04:00</option>
                                                    <option value="on-05">05:00</option>
                                                    <option value="on-06">06:00</option>
                                                    <option value="on-07">07:00</option>
                                                    <option value="on-08">08:00</option>
                                                    <option value="on-09">09:00</option>
                                                    <option value="on-10">10:00</option>
                                                    <option value="on-11">11:00</option>
                                                    <option value="on-12">12:00</option>
                                                    <option value="on-13">13:00</option>
                                                    <option value="on-14">14:00</option>
                                                    <option value="on-15">15:00</option>
                                                    <option value="on-16">16:00</option>
                                                    <option value="on-17">17:00</option>
                                                    <option value="on-18">18:00</option>
                                                    <option value="on-19">19:00</option>
                                                    <option value="on-20">20:00</option>
                                                    <option value="on-21">21:00</option>
                                                    <option value="on-22">22:00</option>
                                                    <option value="on-23">23:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Adjust&nbsp;start&nbsp;time&nbsp;(minutes)</label>
                                        <div class="control">
                                            <input id="settings_scheduler_start_adjust_id" class="input" type="number"
                                                placeholder="-15" value="-15">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Stop&nbsp;recording&nbsp;at</label>
                                        <div class="control">
                                            <div class="select">
                                                <select id="settings_scheduler_stop_event_id">
                                                    <option value="off-sunset">Sunset</option>
                                                    <option value="off-dusk">Dusk</option>
                                                    <option value="off-dawn">Dawn</option>
                                                    <option value="off-sunrise">Sunrise</option>
                                                    <option value="off-00">00:00</option>
                                                    <option value="off-01">01:00</option>
                                                    <option value="off-02">02:00</option>
                                                    <option value="off-03">03:00</option>
                                                    <option value="off-04">04:00</option>
                                                    <option value="off-05">05:00</option>
                                                    <option value="off-06">06:00</option>
                                                    <option value="off-07">07:00</option>
                                                    <option value="off-08">08:00</option>
                                                    <option value="off-09">09:00</option>
                                                    <option value="off-10">10:00</option>
                                                    <option value="off-11">11:00</option>
                                                    <option value="off-12">12:00</option>
                                                    <option value="off-13">13:00</option>
                                                    <option value="off-14">14:00</option>
                                                    <option value="off-15">15:00</option>
                                                    <option value="off-16">16:00</option>
                                                    <option value="off-17">17:00</option>
                                                    <option value="off-18">18:00</option>
                                                    <option value="off-19">19:00</option>
                                                    <option value="off-20">20:00</option>
                                                    <option value="off-21">21:00</option>
                                                    <option value="off-22">22:00</option>
                                                    <option value="off-23">23:00</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Adjust&nbsp;stop&nbsp;time&nbsp;(minutes)</label>
                                        <div class="control">
                                            <input id="settings_scheduler_stop_adjust_id" class="input" type="number"
                                                placeholder="15" value="15">
                                        </div>
                                    </div>
                                </div>



                                <hr>
                                <div class="field is-horizontal">
                                    <!-- <div class="field-label is-normal">
                                        <label class="label">Select</label>
                                    </div> -->
                                    <div class="field-body">
                                        <div class="control">
                                            <button id="settings_save_button_id" class="button is-info is-rounded"
                                                onclick="saveSettings()">
                                                Save
                                            </button>
                                            <button id="settings_reset_button_id" class="button is-info is-rounded"
                                                onclick="getSettings()">
                                                Last saved
                                            </button>
                                            <button id="settings_default_button_id" class="button is-info is-rounded"
                                                onclick="getDefaultSettings()">
                                                Default
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="buttons is-centered">
                                    <button class="button is-info is-rounded">
                                        Save
                                    </button>
                                    <button class="button is-info is-rounded">
                                            Save as...
                                        </button>
                                        <button class="button is-info is-rounded">
                                            Delete
                                        </button>
                                </div> -->

                            </article>
                        </div>
                    </div>

                    <div class="tile is-parent is-vertical">

                        <!-- Tile: Recorded files -->
                        <!-- <article class="tile is-child box has-background-grey-lighter">
                            <p class="title"> Recorded files</p>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Filename&nbsp;filter</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <input class="input" placeholder="20200601T02">
                                        </div>
                                    </div>
                                    <button class="button is-info is-rounded" disabled>
                                        Update
                                    </button>
                                </div>
                            </div>

                            <div style="height: 15em; overflow: auto;">
                                    <table class="table is-striped is-fullwidth">
                                        <thead>
                                            <tr>
                                                <th><abbr title="Location">Row</abbr></th>
                                                <th>Sound file</th>
                                                <th>Download</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>WURB2_20170802T024532+0200_N43.3201W2.0054_FS384.wav</td>
                                                <td><a ref="">download</a></td>
                                                <td><a ref="">delete</a></td>
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>WURB2_20170802T025117+0200_N43.3201W2.0054_FS384.wav</td>
                                                <td><a ref="">download</a></td>
                                                <td><a ref="">delete</a></td>
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>WURB2_20170802T030204+0200_N43.3201W2.0054_FS384.wav</td>
                                                <td><a ref="">download</a></td>
                                                <td><a ref="">delete</a></td>
                                            </tr>
                                            <tr>
                                                <th>4</th>
                                                <td>WURB2_20170802T0301712+0200_N43.3201W2.0054_FS384.wav</td>
                                                <td><a ref="">download</a></td>
                                                <td><a ref="">delete</a></td>
                                            </tr>
                                            <tr>
                                                <th>5</th>
                                                <td>WURB2_20170802T032717+0200_N43.3201W2.0054_FS384.wav</td>
                                                <td><a ref="">download</a></td>
                                                <td><a ref="">delete</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </article> -->

                        <!-- Tile: About -->
                        <article class="tile is-child box has-background-grey-lighter">
                            <!-- Content. -->
                            <p class="title">About</p>
                            <p class="subtitle">CloudedBats WURB 2020</p>
                            <div class="content">
                                <p>
                                    This is a part of the open source
                                    <a href="http://cloudedbats.org">CloudedBats.org</a>
                                    software project. <br>
                                    More information and source code at GitHub:
                                    <a href="https://github.com/cloudedbats/cloudedbats_wurb_2020">
                                        cloudedbats_wurb_2020</a>.
                                </p>
                                <p>
                                    REST API for programmatic control:
                                    <a href="/docs">OpenAPI 3.0</a>.
                                </p>
                                <p>
                                    Developed by: Arnold&nbsp;Andreasson,&nbsp;Sweden.<br />
                                    Contact and feedback: info@cloudedbats.org
                                </p>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>