<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CloudedBats - Recorder for bats</title>
    <!-- Bulma -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
    <!-- Bulma -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/bulma-0.8-min.css') }}">
    <!-- CloudedBats -->
    <link href="{{ url_for('static', path='css/wurb_styles.css') }}" rel="stylesheet">


    <script type="text/javascript" src="../static/js/wurb_javascript.js"></script>


</head>

<body>
    <section class="section has-background-grey-dark">
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">

                            <!-- Tile: Ultrasonic recorder -->
                            <article class="tile is-child box has-background-grey-lighter">
                                <p class="title">Ultrasonic recorder</p>
                                <p class="subtitle">Recording unit for bats.</p>
                                <div class="buttons is-centered">
                                    <button id="rec_start_button_id" class="button is-info is-rounded is-medium"
                                        onclick="callRecordingUnit('/start_rec')">
                                        Start recording
                                    </button>
                                    <button id="rec_stop_button_id" class="button is-info is-rounded is-medium"
                                        onclick="callRecordingUnit('/stop_rec')">
                                        Stop recording
                                    </button>
                                </div>
                                <div class="content">
                                    <p class="subtitle">
                                        Status: <strong>
                                            <span id="rec_status_id">Waiting...</span>
                                        </strong>
                                    </p>
                                    <p>
                                        <!-- Microphone: -->
                                        <span id="rec_info_id"></span>
                                        <br>
                                        Detector time:
                                        <span id="rec_detector_time_id"></span>
                                    </p>
                                </div>

                                <!-- <div class="content" style="height: 10em; overflow: auto;"> -->
                                <div class="table-container" style="height: 10em; overflow: auto;">
                                    <table class="table is-fullwidth is-bordered is-striped has-background-white-ter">
                                        <tr>
                                            <td>23:45:47 TEST-Recording stopped.</td>
                                        </tr>
                                        <tr>
                                            <td>23:38:02 TEST-Sound detected.</td>
                                        </tr>
                                        <tr>
                                            <td>23:34:07 TEST-Recording started.</td>
                                        </tr>
                                        <tr>
                                            <td>23:32:32 TEST-GPS position received.</td>
                                        </tr>
                                    </table>
                                </div>

                                <!-- <div class="buttons is-centered">
                                    <button class="button is-info is-rounded">
                                        Shutdown unit
                                    </button>
                                    <button class="button is-info is-rounded">
                                        Restart unit
                                    </button>
                                </div> -->
                            </article>

                            <!-- Tile: Geographic position -->
                            <article class="tile is-child box has-background-grey-lighter">
                                <!-- Content. -->
                                <p class="title">Geographic position</p>
                                <p class="subtitle">To be used in file names.</p>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Source</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select">
                                                    <select>
                                                        <option>Use default position</option>
                                                        <option>Manually entered</option>
                                                        <option>From mobile unit</option>
                                                        <option>From USB-GPS on rec. unit</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Latitude&nbsp;&nbsp&nbsp;</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input class="input" style="width: 50%;" type="number"
                                                    step="0.0001" min="-90.0" max="90.0"
                                                    placeholder="15.6789">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Longitude</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <input class="input" style="width: 50%;" type="number"
                                                step="0.0001" min="-180.0" max="180.0"
                                                placeholder="12.3456">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons is-centered">
                                    <button class="button is-info is-rounded">
                                        Save as default position
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">

                            <!-- Tile: Settings -->
                            <article class="tile is-child box has-background-grey-lighter">
                                <!-- Content. -->
                                <p class="title">Settings</p>
                                <p class="subtitle">Settings used by the recording unit.</p>
                                <div class="tabs is-fullwidth is-medium">
                                    <ul>
                                        <li id="tab_settings_basic_id" class="is-active"
                                            onclick="hide_show_settings_tabs('basic');">
                                            <a>
                                                <span><strong>Basic</strong></span>
                                            </a>
                                        </li>
                                        <li id="tab_settings_more_id" class=""
                                            onclick="hide_show_settings_tabs('more');">
                                            <a>
                                                <span><strong>More</strong></span>
                                            </a>
                                        </li>
                                        <li id="tab_settings_scheduler_id" class=""
                                            onclick="hide_show_settings_tabs('scheduler');">
                                            <a>
                                                <span><strong>Scheduler</strong></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Settings: Basic. -->
                                <div id="div_settings_basic_id">
                                    <!-- style="visibility:hidden; overflow:hidden; height:0; width:0;" class=""> -->
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Rec.&nbsp;mode</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field is-narrow">
                                                <div class="control">
                                                    <div class="select">
                                                        <select>
                                                            <option>Manually controlled</option>
                                                            <option>Recording on at startup</option>
                                                            <option>Based on scheduler</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="div_settings_basic_id" class="">
                                        <div class="field">
                                            <label class="label">File&nbsp;name&nbsp;prefix</label>
                                            <div class="control">
                                                <input class="input" placeholder="wurb" value="wurb">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Default&nbsp;latitude&nbsp;(DD)</label>
                                            <div class="control">
                                                <input class="input" style="width: 33%;" placeholder="15.6789"
                                                    value="15.6789">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">Default&nbsp;longitude&nbsp;(DD)</label>
                                            <div class="control">
                                                <input class="input" style="width: 33%;" placeholder="12.3456"
                                                    value="12.3456">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label
                                                class="label">Sound&nbsp;detection:&nbsp;Low&nbsp;limit&nbsp;(kHz)</label>
                                            <div class="control">
                                                <input class="input" style="width: 33%;" placeholder="15.0"
                                                    value="15.0">
                                            </div>
                                            <p class="help is-info">
                                                Lower detection limit.
                                            </p>
                                        </div>
                                        <div class="field">
                                            <label
                                                class="label">Sound&nbsp;detection:&nbsp;Sensitivity&nbsp;(dBFS)</label>
                                            <div class="control">
                                                <input class="input" style="width: 33%;" placeholder="-50" value="-50">
                                            </div>
                                            <p class="help is-info">
                                                The value -60 gives more files and -40 less.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Settings: more. -->
                                <div id="div_settings_more_id"
                                    style="visibility:hidden; overflow:hidden; height:0; width:0;" class="">
                                    <div class="field">
                                        <label class="label">Sound&nbsp;files&nbsp;path</label>
                                        <div class="control">
                                            <input class="input" placeholder="/media/usb0/wurb_rec"
                                                value="/media/usb0/wurb_rec">
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label class="label">Sound&nbsp;detection&nbsp;algorithm</label>
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option>None (recording always on)</option>
                                                    <option>Simple (single trigging event)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Settings: Scheduler. -->
                                <div id="div_settings_scheduler_id"
                                    style="visibility:hidden; overflow:hidden; height:0; width:0;" class="">
                                    <div class="field">
                                        <label class="label">Start&nbsp;recording&nbsp;at</label>
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option>Sunset</option>
                                                    <option>Dusk</option>
                                                    <option>Dawn</option>
                                                    <option>Sunrise</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Adjust&nbsp;start&nbsp;time&nbsp;(minutes)</label>
                                        <div class="control">
                                            <input class="input" style="width: 33%;" type="text" placeholder="-15"
                                                value="-15">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Stop&nbsp;recording&nbsp;at</label>
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option>Sunset</option>
                                                    <option>Dusk</option>
                                                    <option>Dawn</option>
                                                    <option>Sunrise</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Adjust&nbsp;stop&nbsp;time&nbsp;(minutes)</label>
                                        <div class="control">
                                            <input class="input" style="width: 33%;" type="text" placeholder="15"
                                                value="15">
                                        </div>
                                    </div>
                                </div>



                                <hr>
                                <div class="field is-horizontal">
                                    <!-- <div class="field-label is-normal">
                                        <label class="label">Select</label>
                                    </div> -->
                                    <div class="field-body">
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option>Default settings</option>
                                                    <option>user-settings-1</option>
                                                    <option>user-settings-2</option>
                                                    <option>user-settings-3</option>
                                                    <option>user-settings-4</option>
                                                    <option>user-settings-5</option>
                                                </select>
                                            </div>
                                            <button class="button is-info is-rounded">
                                                Save as...
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="buttons is-centered">
                                    <button class="button is-info is-rounded">
                                        Save
                                    </button>
                                    <button class="button is-info is-rounded">
                                            Save as...
                                        </button>
                                        <button class="button is-info is-rounded">
                                            Delete
                                        </button>
                                </div> -->

                            </article>
                        </div>
                    </div>

                    <div class="tile is-parent is-vertical">

                        <!-- Tile: Recorded files -->
                        <article class="tile is-child box has-background-grey-lighter">
                            <p class="title"> Recorded files</p>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Filename&nbsp;filter</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <div class="control">
                                            <input class="input" placeholder="20200601T02">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="height: 15em; overflow: auto;">
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th><abbr title="Position">Row</abbr></th>
                                            <th>Sound file</th>
                                            <th>Download</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1</th>
                                            <td>WURB2_20170802T024532+0200_N43.3201W2.0054_FS384.wav</td>
                                            <td><a ref="">download</a></td>
                                            <td><a ref="">delete</a></td>
                                        </tr>
                                        <tr>
                                            <th>2</th>
                                            <td>WURB2_20170802T025117+0200_N43.3201W2.0054_FS384.wav</td>
                                            <td><a ref="">download</a></td>
                                            <td><a ref="">delete</a></td>
                                        </tr>
                                        <tr>
                                            <th>3</th>
                                            <td>WURB2_20170802T030204+0200_N43.3201W2.0054_FS384.wav</td>
                                            <td><a ref="">download</a></td>
                                            <td><a ref="">delete</a></td>
                                        </tr>
                                        <tr>
                                            <th>4</th>
                                            <td>WURB2_20170802T0301712+0200_N43.3201W2.0054_FS384.wav</td>
                                            <td><a ref="">download</a></td>
                                            <td><a ref="">delete</a></td>
                                        </tr>
                                        <tr>
                                            <th>5</th>
                                            <td>WURB2_20170802T032717+0200_N43.3201W2.0054_FS384.wav</td>
                                            <td><a ref="">download</a></td>
                                            <td><a ref="">delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </article>

                        <!-- Tile: About -->
                        <article class="tile is-child box has-background-grey-lighter">
                            <!-- Content. -->
                            <p class="title">About</p>
                            <p class="subtitle">CloudedBats WURB 2020</p>
                            <div class="content">
                                <p>
                                    This is a part of the open source
                                    <a href="http://cloudedbats.org">CloudedBats.org</a>
                                    software project. <br>
                                    More information and source code at GitHub:
                                    <a href="https://github.com/cloudedbats/cloudedbats_wurb_2020">
                                        cloudedbats_wurb_2020</a>.
                                </p>
                                <p>
                                    Developed by: Arnold&nbsp;Andreasson,&nbsp;Sweden.<br />
                                    Contact and feedback: info@cloudedbats.org
                                </p>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>