# API and web.
fastapi
uvicorn
jinja2
aiofiles
websockets
# Sound, etc.
sounddevice
numpy
scipy
psutil
pyusb
# GPS
pyserial
pyserial-asyncio
pytz
python-dateutil
# Raspberry Pi
RPi.GPIO
# Visual Studio Code.
pylint
black
